# *Link de Estudo:*  
- https://investidoremvalor.com/formula-de-greenblatt/
- https://sparkbyexamples.com/pandas/pandas-convert-column-to-int/
- https://opencodecom.net/post/2021-05-07-fronteira-eficiente/

In [1]:
# Instalando o fundamentus
!pip install fundamentus --upgrade --no-cache-dir

Collecting fundamentus
  Downloading fundamentus-0.2.0-py3-none-any.whl (13 kB)
Collecting requests-cache>=0.5.2
  Downloading requests_cache-0.9.6-py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 1.8 MB/s
Requirement already satisfied: requests>=2.25.1 in /opt/conda/lib/python3.9/site-packages (from fundamentus) (2.26.0)
Collecting tabulate>=0.8.7
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Collecting lxml>=4.6.2
  Downloading lxml-4.9.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (7.0 MB)
     |████████████████████████████████| 7.0 MB 1.9 MB/s
Requirement already satisfied: pandas>=1.1.5 in /opt/conda/lib/python3.9/site-packages (from fundamentus) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.1.5->fundamentus) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.1.5->fundamentus) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.1.5->fundamentus) (1.20.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.25.1->fundamentus) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests>=2.25.1->fundamentus) (3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests>=2.25.1->fundamentus) (2.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.25.1->fundamentus) (2022.9.24)
Requirement already satisfied: attrs>=21.2 in /opt/conda/lib/python3.9/site-packages (from requests-cache>=0.5.2->fundamentus) (21.2.0)
Collecting cattrs>=1.8
  Downloading cattrs-22.2.0-py3-none-any.whl (35 kB)
Requirement already satisfied: appdirs>=1.4.4 in /opt/conda/lib/python3.9/site-packages (from requests-cache>=0.5.2->fundamentus) (1.4.4)
Collecting url-normalize>=1.4
  Downloading url_normalize-1.4.3-py2.py3-none-any.whl (6.8 kB)
Collecting exceptiongroup
  Downloading exceptiongroup-1.0.0rc9-py3-none-any.whl (12 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=1.1.5->fundamentus) (1.16.0)
Installing collected packages: exceptiongroup, url-normalize, cattrs, tabulate, requests-cache, lxml, fundamentus
Successfully installed cattrs-22.2.0 exceptiongroup-1.0.0rc9 fundamentus-0.2.0 lxml-4.9.1 requests-cache-0.9.6 tabulate-0.9.0 url-normalize-1.4.3

In [1]:
import fundamentus

In [41]:
df = fundamentus.get_resultado()

In [3]:
df.head()

Multiples,cotacao,pl,pvp,psr,dy,pa,pcg,pebit,pacl,evebit,evebitda,mrgebit,mrgliq,roic,roe,liqc,liq2m,patrliq,divbpatr,c5y
papel,,,,,,,,,,,,,,,,,,,,
AALR3,20.87,-44.71,2.16,2.224,0.0000,0.959,-26.56,33.30,-2.62,40.97,15.91,0.0668,-0.0422,0.0330,-0.0482,0.83,7099020.0,1.145370e+09,0.71,0.0086
ABCB3,0.00,0.00,0.00,0.000,0.0000,0.000,0.00,0.00,0.00,0.00,0.00,0.0000,0.0000,0.0000,0.1418,0.00,0.0,4.910570e+09,0.00,0.2080
ABCB4,21.32,6.92,0.98,0.000,0.0600,0.000,0.00,0.00,0.00,0.00,0.00,0.0000,0.0000,0.0000,0.1418,0.00,16950500.0,4.910570e+09,0.00,0.2080
ABEV3,14.83,17.25,2.71,3.036,0.0407,1.710,53.81,15.07,-21.61,14.26,10.66,0.2015,0.1827,0.1533,0.1570,1.13,393035000.0,8.626310e+10,0.04,0.1195
ABYA3,4.91,-214.80,1.76,2.055,0.0000,0.527,1.98,19.96,-2.75,33.67,33.67,0.1029,-0.0096,0.0278,-0.0082,2.09,0.0,2.920600e+08,1.31,0.1641

In [4]:
print(df.columns)

Index(['cotacao', 'pl', 'pvp', 'psr', 'dy', 'pa', 'pcg', 'pebit', 'pacl',
       'evebit', 'evebitda', 'mrgebit', 'mrgliq', 'roic', 'roe', 'liqc',
       'liq2m', 'patrliq', 'divbpatr', 'c5y'],
      dtype='object', name='Multiples')

In [5]:
df.reset_index()

Multiples,papel,cotacao,pl,pvp,psr,dy,pa,pcg,pebit,pacl,...,evebitda,mrgebit,mrgliq,roic,roe,liqc,liq2m,patrliq,divbpatr,c5y
0,AALR3,20.87,-44.71,2.16,2.224,0.0000,0.959,-26.56,33.30,-2.62,...,15.91,0.0668,-0.0422,0.0330,-0.0482,0.83,7.099020e+06,1.145370e+09,0.71,0.0086
1,ABCB3,0.00,0.00,0.00,0.000,0.0000,0.000,0.00,0.00,0.00,...,0.00,0.0000,0.0000,0.0000,0.1418,0.00,0.000000e+00,4.910570e+09,0.00,0.2080
2,ABCB4,21.32,6.92,0.98,0.000,0.0600,0.000,0.00,0.00,0.00,...,0.00,0.0000,0.0000,0.0000,0.1418,0.00,1.695050e+07,4.910570e+09,0.00,0.2080
3,ABEV3,14.83,17.25,2.71,3.036,0.0407,1.710,53.81,15.07,-21.61,...,10.66,0.2015,0.1827,0.1533,0.1570,1.13,3.930350e+08,8.626310e+10,0.04,0.1195
4,ABYA3,4.91,-214.80,1.76,2.055,0.0000,0.527,1.98,19.96,-2.75,...,33.67,0.1029,-0.0096,0.0278,-0.0082,2.09,0.000000e+00,2.920600e+08,1.31,0.1641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
964,WLMM3,22.49,8.10,1.42,0.528,0.0360,1.167,2.81,8.16,3.55,...,7.00,0.0647,0.0652,0.1710,0.1750,5.59,8.655100e+02,5.777790e+08,0.02,0.2890
965,WLMM4,28.50,10.26,1.80,0.669,0.0312,1.478,3.56,10.34,4.49,...,9.10,0.0647,0.0652,0.1710,0.1750,5.59,2.664800e+04,5.777790e+08,0.02,0.2890
966,WMBY3,25.39,-19.30,2.87,0.836,0.0000,0.182,1.20,8.62,-1.50,...,25.02,0.0970,-0.0705,0.0239,-0.1486,1.44,0.000000e+00,2.124390e+08,6.51,-0.1448
967,WSON33,67.00,8.07,0.98,1.067,0.0000,0.400,13.41,2.42,-0.89,...,5.08,0.4414,0.1358,0.1836,0.1217,1.26,0.000000e+00,2.148530e+09,1.21,0.0523
968,YDUQ3,13.13,374.52,1.29,0.907,0.0096,0.411,3.80,7.96,-1.02,...,6.66,0.1139,0.0025,0.0621,0.0035,1.64,7.487840e+07,3.137430e+09,1.80,0.0632

In [109]:
df_roe = df.sort_values("roe", ascending=False).copy()
df_roe.insert(0, 'number_roe', range(1, 1 + len(df_roe)))
df_roe = df_roe.sort_values("pl", ascending=False)
df_roe.insert(0, 'number_pl', range(1, 1 + len(df_roe)))
df_roe.reset_index(inplace=True)
df_roe["formula"] = df_roe["number_roe"] + df_roe["number_pl"]

In [116]:
df_roe.sort_values("formula", ascending=False).head(8)

Multiples,papel,number_pl,number_roe,cotacao,pl,pvp,psr,dy,pa,pcg,...,mrgebit,mrgliq,roic,roe,liqc,liq2m,patrliq,divbpatr,c5y,formula
943,IDVL11,944,944,140.00,-66.00,60.56,0.000,0.0,0.000,0.00,...,0.0000,0.0000,0.0000,-0.9176,0.00,0.0,237683000.0,0.00,0.0000,1888
916,DFVA3,917,957,9.90,-31.38,60.69,4.327,0.0,5.365,29.10,...,-0.0774,-0.1379,-0.1035,-1.9342,1.33,0.0,1170000.0,2.84,0.0339,1874
906,DFVA4,907,956,8.00,-25.35,49.04,3.497,0.0,4.335,23.51,...,-0.0774,-0.1379,-0.1035,-1.9342,1.33,0.0,1170000.0,2.84,0.0339,1863
920,ITEC3,921,928,40.10,-35.12,22.04,2611.690,0.0,9.216,25.42,...,-100.4470,-74.3588,-0.6306,-0.6276,5.23,0.0,20143000.0,0.00,-0.7479,1849
910,BAHI4,911,922,86.00,-27.40,15.30,6.540,0.0,3.204,-15.91,...,-0.0643,-0.2503,-0.0322,-0.5584,0.22,0.0,133675000.0,0.94,0.7482,1833
874,SEDU3,875,951,23.80,-13.36,15.00,3.443,0.0,1.531,57.90,...,-0.1533,-0.2573,-0.0815,-1.1229,1.09,0.0,415869000.0,4.67,0.1087,1826
900,BAHI5,901,921,65.00,-20.71,11.56,4.943,0.0,2.422,-12.03,...,-0.0643,-0.2503,-0.0322,-0.5584,0.22,0.0,133675000.0,0.94,0.7482,1822
912,VGOR4,913,895,5.87,-29.58,7.18,1.229,0.0,1.468,113.97,...,0.0450,-0.0459,0.0600,-0.2429,1.04,0.0,135178000.0,1.89,0.0477,1808

In [117]:
df_roe.sort_values("formula", ascending=False).head(8)[["papel","number_roe", "number_pl", "formula"]]

Multiples   papel  number_roe  number_pl  formula
943        IDVL11         944        944     1888
916         DFVA3         957        917     1874
906         DFVA4         956        907     1863
920         ITEC3         928        921     1849
910         BAHI4         922        911     1833
874         SEDU3         951        875     1826
900         BAHI5         921        901     1822
912         VGOR4         895        913     1808

In [95]:
df_pl = df.sort_values("pl", ascending=False).copy()
df_roe.reset_index(inplace=True)
df_roe.insert(0, 'number', range(1, 1 + len(df_roe)))
x = df_roe[['papel','number']]
x

Multiples   papel  number
0           AERI3       1
1          BBTG12       2
2           LIGT3       3
3           CALI4       4
4           UBBR3       5
..            ...     ...
964         MLFT4     965
965         MGLU3     966
966         PLDN4     967
967         TRAD3     968
968         GNDI3     969

[969 rows x 2 columns]

In [74]:
data = df
data.loc["AALR3", "cotacao"]

20.87

In [34]:
data.reset_index(drop=True, inplace=True)

In [35]:
data.head(10)
data.cotacao

0      20.87
1       0.00
2      21.32
3      14.83
4       4.91
       ...
964    22.49
965    28.50
966    25.39
967    67.00
968    13.13
Name: cotacao, Length: 969, dtype: float64

In [107]:
import fundamentus
df = fundamentus.get_papel('WEGE3')

2022-10-15 18:38:39,455 [detalhes.get_papel] INFO: detalhes: call: get..._papel()

In [113]:
import pandas as pd
data = pd.DataFrame(data=df)

In [114]:
data.dtypes

Papel                     object
Tipo                      object
Empresa                   object
Setor                     object
Subsetor                  object
Cotacao                   object
Data_ult_cot              object
Min_52_sem                object
Max_52_sem                object
Vol_med_2m                object
Valor_de_mercado           int64
Valor_da_firma             int64
Ult_balanco_processado    object
Nro_Acoes                 object
PL                        object
PVP                       object
PEBIT                     object
PSR                       object
PAtivos                   object
PCap_Giro                 object
PAtiv_Circ_Liq            object
Div_Yield                 object
EV_EBITDA                 object
EV_EBIT                   object
Cres_Rec_5a               object
LPA                       object
VPA                       object
Marg_Bruta                object
Marg_EBIT                 object
Marg_Liquida              object
EBIT_Ativo                object
ROIC                      object
ROE                       object
Liquidez_Corr             object
Div_Br_Patrim             object
Giro_Ativos               object
Ativo                     object
Disponibilidades          object
Ativo_Circulante          object
Div_Bruta                 object
Div_Liquida               object
Patrim_Liq                object
Receita_Liquida_12m       object
EBIT_12m                  object
Lucro_Liquido_12m         object
Receita_Liquida_3m        object
EBIT_3m                   object
Lucro_Liquido_3m          object
dtype: object

In [118]:
data['Lucro_Liquido_12m'] = data['Lucro_Liquido_12m'].astype('int')
data['Patrim_Liq'] = data['Patrim_Liq'].astype('int')
data['PL'] = data['PL'].astype('float') / 100

In [119]:
#  ROE =  Lucro Liquido do Ano / Patrimonio Liquido
def get_roe(data):
    return data["Lucro_Liquido_12m"]/data["Patrim_Liq"]

In [120]:
get_roe(data)

WEGE3    0.264192
dtype: float64

In [121]:
data.PL + get_roe(data)

WEGE3    39.184192
dtype: float64

In [122]:
data.PL

WEGE3    38.92
Name: PL, dtype: float64